<app-menu-bar/>
<h2>Adicionar Lançamento</h2>
<form (ngSubmit)="adicionarLancamento()">
  <div class="formAdd">
    <div class="input-container">
      <label for="nome"><strong>Nome: </strong></label>
      <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />

      <label for="descricao"><strong>Descricao: </strong></label>
      <input id="descricao" type="text" pInputText [(ngModel)]="descricao" name="descricao" required />

      <label for="valor"><strong>Valor: </strong></label>
      <input id="valor" type="text" pInputText [(ngModel)]="valor" name="valor" pattern="[0-9]*"
             (input)="apenasNumeros($event)" required />

      <label for="data"><strong>Data: </strong></label>
      <p-calendar [(ngModel)]="data" type="date" name="data" dateFormat="yy-mm-dd"></p-calendar>

    </div>
      <div class="inputSelect-container">
        <label for="tipo"><strong>Tipo: </strong></label>
        <p-dropdown id="tipo" [options]="tipos" [(ngModel)]="tipo" optionLabel="label" placeholder="Selecione o Tipo" name="tipo" required ></p-dropdown>

        <label for="categoria"><strong>Categoria: </strong></label>
        <p-dropdown id="categoria" [options]="categorias" [(ngModel)]="categoria" optionLabel="label" placeholder="Selecione a Categoria" name="categoria" required ></p-dropdown>

        <label for="grupos"><strong>Grupos: </strong></label>
        <p-dropdown [options]="grupos" [(ngModel)]="grupoSelecionado" name="grupoSelecionada"
        optionLabel="nome" placeholder="Selecione um Grupo">
        </p-dropdown>
      </div>
  </div>
  <button type="submit" pButton label="Adicionar Lançamento"></button>
</form>

<p-toast></p-toast>
