<app-menu-bar/>
<h2>Adicionar Grupo</h2>
<form (ngSubmit)="adicionarGrupo()">
  <div class="formAdd">
    <div class="input-container">
      <label for="nome"><strong>Nome: </strong></label>
        <input id="nome" type="text" pInputText [(ngModel)]="nome" name="nome" required />

        <label for="descricao"><strong>Descricao: </strong></label>
        <input id="descricao" type="text" pInputText [(ngModel)]="descricao" name="descricao" required />

        <label for="saldo"><strong>Saldo: </strong></label>
        <input id="saldo" type="text" pInputText [(ngModel)]="saldo" name="saldo" required/>
    </div>
    <label for="pessoa"><strong>Pessoa: </strong></label>
    <p-dropdown [options]="pessoas" [(ngModel)]="pessoaSelecionada" name="pessoaSelecionada"
        optionLabel="nome" placeholder="Selecione uma Pessoa">
    </p-dropdown>
  </div>
  <button type="submit" pButton label="Adicionar Grupo"></button>
</form>

<p-toast></p-toast>
