<div class="page">
  <app-menu-bar></app-menu-bar>
  <div class="home-container">
    <h1>Bem-vindo ao Sistema de Controle Financeiro</h1>
    <p>
      Este sistema foi desenvolvido para facilitar o gerenciamento das suas finanças pessoais
      e empresariais. Através dele, você poderá:
    </p>

    <ul>
      <li>Gerenciar o cadastro de <strong>Pessoas</strong>;</li>
      <li>Criar e organizar <strong>Grupos Financeiros</strong>;</li>
      <li>Definir e acompanhar suas <strong>Metas Financeiras</strong>;</li>
      <li>Registrar e editar <strong>Lançamentos Financeiros</strong>;</li>
      <li>Gerar e visualizar <strong>Relatórios Detalhados</strong>.</li>
    </ul>

    <p>
      Utilize o menu acima para navegar entre as funcionalidades. Comece cadastrando pessoas e grupos,
      e logo após, registre suas metas e lançamentos para um melhor controle financeiro.
    </p>
  </div>
</div>
